{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
  <head>
    <title>Jenn The Islander</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- TITLE ABOVE NAVIGATION BAR -->
    <div id='blog-name'><a href="{% url 'index' %}">JENN'S LITTLE ISLAND BLOG</a></div>

    <div id="all-but-footer">

      <!-- NAVIGATION BAR -->
      <nav class="navbar navbar-default menu-bar">
        <div class="container-fluid">
          <ul class="nav nav-justified">

            <!-- home -->
            <li><a href="{% url 'index' %}">Home</a></li>

            <!-- browse articles -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse Articles<span class="caret"></span></a>
              <ul class="dropdown-menu topics">
                {% for tag in tags %}
                  <li><a href="/browse/{{ tag.tag_text }}">{{ tag.tag_text }}</a></li>
                {% endfor %}
              </ul>
            </li>

            <!-- about -->
            <li><a href="{% url 'about' %}">About</a></li>

            <!-- contact -->
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>
      </nav>

      <!-- MAIN AREA OF WEBSITE: ONLY THIS AREA WILL CHANGE FROM PAGE-TO-PAGE -->
      <div id="main-area">
      
        <!-- messages that appear on submission of forms -->
        {% if messages %}
          {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <!-- pages are injected here -->
        {% block content %}
        {% endblock %}
      </div>

      <!-- RIGHT SIDEBAR WITH SEARCH AND SUBSCRIBE OPTIONS -->
      <div id="right-sidebar">

        <!-- search bar -->
        <div id="search-area">
          <form role="search" method="GET" action="{% url 'search' %}">
            <input type="text" name="q" placeholder="Search ..."/>
            <button type="submit">Submit</button>
          </form>
        </div>

        <!-- photo and welcome text -->
        <div id="welcome-area">
          <div id="mini-photo"></div>
          <div> 
            <p>Welcome to Vancouver Island!<br><span class="read-more"><a href="{% url 'about' %}">Read More ></a></span></p>
          </div>
        </div>
    
        <!-- subscribe to my blog -->
        <div id="subscribe-area">
          <p>Love my blog? Subscribe below to receive regular posts!</p>
          <form role="form" action="" method="post">
            {% csrf_token %}
            <div>{{ subscribe_form.as_p }}</div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      Copyright &#169; 2016 Jennifer Tigner
    </div>

    <script>
      // to make the nav bar stick to the top when scrolling
      $(window).scroll(function(){
        if ($(this).scrollTop() > 125) {
          $(".menu-bar").addClass("menu-bar-scrolled");
        } else {
          $(".menu-bar").removeClass("menu-bar-scrolled");
        }
      });
    </script>

  </body>
</html>
