{% extends 'main/base.html' %}
{% block content %}

<div id="contact-greeting">
  <h3>CONTACT ME</h3>
  <p>If you have any questions or comments, or if you just feel like saying hello, send me a message. I'd love to hear from you!</p>
</div>

<div id="contact-form">
  <form role="form" action="" method="post">
    {% csrf_token %}

    <!-- NAME -->
    <div class="form-group row col-md-offset-4">
      <div class="col-sm-6">{{ form.contact_name }}</div>
    </div>

    <!-- EMAIL -->
    <div class="form-group row col-md-offset-4">
      <div class="col-sm-6">{{ form.contact_email }}</div>
    </div>

    <!-- MESSAGE -->
    <div class="form-group row col-md-offset-4">
      <div class="col-sm-6">{{ form.content }}</div>
    </div> 

    <!-- SUBMIT BUTTON -->
    <div class="form-group row col-md-offset-6">
      <input class="col-sm-3 button btn-default" type="submit" value="Submit">
    </div>
  </form>
</div>

{% endblock %}
