{% extends 'main/base.html' %}
{% block content %}

<p>Title: {{ article.title }}</p>
<p>Summary: {{ article.summary }}</p>

<p>Tags:
  {% for tag in article.tags.all %}
    <a href="/browse/{{ tag.tag_text }}">{{ tag.tag_text }}</a> ~
  {% endfor %}
</p>

<p>Article text: {{ article.article_text }}<br></p>

<p>Comments:
  {% for item in comments.all %}
    <div id="light-green">
      <p>Name: {{ item.name }}</p>
      <p>Email: {{ item.email }}</p>
      <p>Comment: {{ item.comment_text }}
      <p>Date posted: {{ item.date_posted }}</p>
    </div>
  {% endfor %}
</p>

<p>Date: {{ article.date_posted }}</p>

<p>Image description: {{ image.description }}</p>

<p>Image:<br><img src="{{ image.filepath.url }}" alt="{{ image.description }}"/></p>

{% endblock %}
