{% extends 'main/base.html' %}
{% block content %}
{% load static from staticfiles %}

<p>Title: {{ article.title }}</p>
<p>Summary: {{ article.summary }}</p>

<p>Tags:
  <ul>
  {% for tag in article.tags.all %}
    <li>{{ tag.tag_text }}</li>
  {% endfor %}
  </ul>
</p>

<p>Article text: {{ article.article_text }}<br></p>

<!-- Can I pass the article id into comment.html? -->

<p>Comments:
  <ul>
  {% for item in article.comments %}
    <li>{% include 'comment/comment.html' %}</li><br>
  {% endfor %}
  </ul>
</p>

<p>Date: {{ article.date_posted}}</p>

<p>Image description: {{ image.description }}</p>
{{image.filepath}}
{% static "{{ image.filepath }}" as photo %}
<p>Image:<br><img src="{{ photo }}" alt="{{ image.description }}"/></p>

{% endblock %}
