/* Jenn's CSS */

/*
Table of contents:
  - General things
  - Articles
  - Article previews
  - Header (blog name and nav bar)
  - Footer
  - Right sidebar
  - About me/contact pages
  - Error pages
*/

/*---------------------------------------------------*/

/* GENERAL THINGS */

body {
  background-color: #e3e0cf;
  color: #283018;
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  height: 100%;
  position: relative;
}

h3 {
  font-family: 'Poiret One', cursive;
}

#main-area {
  display: inline-block;
  left: 0;
  padding: 3%;
  position: absolute;
  width: 75%;
}

/*dropdown menu in nav bar*/
.topics {
  font-size: 16pt;
}

/* ARTICLES */

/* comments */
.comment-section {
  background-color: #fff;
  border: 3px solid #c5d5cb;
  margin-top: 3%;
  padding: 1%;
  width: 50vw;
}

#comment-info {
  display: inline-block;
  width: 32vw;
}

#comment-date {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  width: 15vw;
}

img {
  width: 50vw;
}

/* ARTICLE PREVIEWS (index.html and browse.html)*/

#preview-img {
  border: 1px solid black;
  width: 20vw;
}

.thumbnail {
  background-color: #9fa8a3;
  padding: 5%;
  padding-top: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 65vw;
}

.summary-spacing {
  font-style: italic;
  margin: 15%;
  margin-right: 0%;
}

.image-half {
  display: inline-block;
  float: left;
  margin-top: 5%;
  width: 25vw;
}

.text-half {
  float: right;
  display: inline-block;
  margin-right: 5%;
  width: 30vw;
}

/* HEADER: BLOG NAME AND NAV BAR */

#blog-name {
  background-image: url("../../media/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 20pt;
  height: 10vw;
  margin: 0 auto;
  text-align: center;
}

#menu-bar {
  background-color: #c5d5cb;
  border: 1px solid black;
  font-family: 'Poiret One', cursive;
  font-size: 16pt;
  font-weight: bold;
  margin: auto;
}

/* FOOTER */

.all-but-footer {
}

.footer {
  background-color: grey;
  bottom: 0;
  display: block;
  padding: 1%;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* RIGHT SIDEBAR */

#right-sidebar {
  display: inline-block;
  padding: 3%;
  position: absolute;
  right: 0;
  width: 25%;
}

#mini-photo {
  background-image: url("../../media/profile.jpg");
  background-size: 100%;
  border: 1px solid black;
  border-radius: 50%; 
  clear: both;
  height: 12vw;
  margin: 0 auto;
  width: 12vw;
}

.read-more {
  display: block;
  text-align: right;
  width: 100%;
}

/* ABOUT ME AND CONTACT PAGES */

#about-me-text {
  display: inline-block;
  margin-left: 3vw;
  margin-top: 5vw;
  text-align: justify;
  vertical-align: top;
  width: 30vw;
}

#contact-greeting {
  padding: 5%;
  padding-top: 0%
}

#profile-full {
  border: 1px solid black;
  border-radius: 10%;
  height: 40vw;
  width: 30vw;
  position: relative;
  top: 0;
}

/* 404 AND 500 ERROR PAGES */

.error {
  position: absolute;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.error-image {
  border: 1px solid black;
  border-radius: 5%;
  width: 30vw;
}
