/*

Table of contents:

  - General things
  - Header (blog name and nav bar)
  - Footer
  - Right sidebar
  - About me/contact pages
  - Articles
  - Article previews
  - Error pages

*/

/*--------------------------------------------------------*/

/* GENERAL THINGS */

body {
  background-color: #e3e0cf;
  color: #283018;
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  height: 100%;
  padding-top: 10vw;
  position: relative;
}

h3 {
  font-family: 'Poiret One', cursive;
  position: relative;
}

/*the middle area where the pages load*/
#main-area {
  background-color: #e3e0cf;
  display: inline-block;
  padding: 3%;
  padding-bottom: 150px;
  padding-top: 80px;
  position: relative;
  width: 70vw;
}

#all-but-footer {
  background-color: #e3e0cf;
  position: relative;
}

/* HEADER: BLOG NAME AND NAV BAR */

#blog-name {
  background-image: url("../../media/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 20pt;
  height: 10vw;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.menu-bar {
  background-color: #c5d5cb;
  border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  font-family: 'Poiret One', cursive;
  font-size: 16pt;
  font-weight: bold;
  /*height: 5vw;*/
  margin-bottom: -4vw;
  z-index: 150;
}

.menu-bar-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

/*dropdown menu in nav bar*/
.topics {
  font-size: 16pt;
}

/* FOOTER */

.footer {
  background-color: #e3e0cf;
  bottom: 0;
  clear: both;
  display: block;
  padding: 1%;
  text-align: center;
  width: 100%;
}

/* RIGHT SIDEBAR */

#right-sidebar {
  background-color: #e3e0cf;
  display: inline-block;
  float: right;
  padding: 3%;
  padding-top: 100px;
  position: relative;
  width: 26vw;
}

#search-area, #welcome-area, #subscribe-area {
  display: block;  
  padding-top: 5%;
  text-align: center;
}

#subscribe-area {
  padding-top: 20%;
}

#mini-photo {
  background-image: url("../../media/profile.jpg");
  background-size: 100%;
  border: 10px solid #c5d5cb;
  border-radius: 25%; 
  box-shadow: 0px 0px 0px 2px #9fa8a3;
  clear: both;
  height: 15vw;
  margin: 0 auto;
  width: 15vw;
}

.read-more {
  display: block;
  padding-top: 3%;
  text-align: right;
  width: 100%;
}

/* ABOUT ME AND CONTACT PAGES */

#about-me-text {
  display: inline-block;
  margin-left: 3vw;
  margin-top: 5vw;
  text-align: justify;
  vertical-align: top;
  width: 30vw;
}

#contact-greeting {
  padding: 5%;
  padding-top: 0%;
  position: relative;
}

#profile-full {
  border: 1px solid black;
  border-radius: 10%;
  height: 40vw;
  position: relative;
  top: 0;
  width: 30vw;
}

/* ARTICLES */

#article {
  margin: 5%;
  position: relative;
}

img {
  width: 50vw;
}

/* comments */
.comment-section {
  background-color: #fff;
  border: 3px solid #c5d5cb;
  margin-top: 3%;
  padding: 1%;
  width: 50vw;
}

#comment-info {
  display: inline-block;
  width: 32vw;
}

#comment-date {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  width: 15vw;
}

#add-comment {
  font-style: italic;
  margin-left: 3%;
  margin-top: 3%;
}

/* ARTICLE PREVIEWS (index.html and browse.html) */

.thumbnail {
  background-color: #9fa8a3;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 5%;
  padding-top: 2%;
  position: relative;
  width: 65vw;
}

#preview-img {
  border: 1px solid black;
  width: 20vw;
}

.summary-spacing {
  font-style: italic;
  margin: 15%;
  margin-right: 0%;
}

.image-half {
  display: inline-block;
  float: left;
  margin-top: 5%;
  width: 25vw;
}

.text-half {
  display: inline-block;
  float: right;
  margin-right: 5%;
  width: 30vw;
}

/* ERROR PAGES */

.error {
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.error-image {
  border: 1px solid black;
  border-radius: 5%;
  width: 30vw;
}
