{% extends 'main/base.html' %}
{% block content %}

  <p>Here are articles about {{ tag.tag_text }}!</p>

  <!-- Bootstrap thumbnails for article preview -->
  {% for article in article_list %}
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
          <p>{{ article.title }}</p>
          <p>{{ article.date_posted|date:"F j, Y" }}</p>

          {% for image in all_images %}
            {% if image.article.id == article.id %}
              <p><img id="preview-img" src="{{ image.filepath.url }}" alt="{{ image.description }}"/></p>
            {% endif %}
          {% endfor %}

          <p>{{ article.summary }}</p>

          <p>Tags:
            {% for tag in article.tags.all %}
              <a href="/browse/{{ tag.tag_text }}">{{ tag.tag_text }}</a> ~
            {% endfor %}
          </p>

          <p><a href="/article/{{ article.id }}">Read More</a></p>
        </div>
      </div>
    </div>
  {% endfor %}
  <!-- add pagination here -->

{% endblock %}